.test {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  background-color: blue;
}

.selected {
  border: 5px solid black;
}

.notChanged {
  border: 5px solid red;
}

.extra {
  font-family: 'montserratextrabold', sans-serif;
}

.semi {
  font-family: 'montserratsemibold', sans-serif;
}

.open-light {
  font-family: 'open_sanslight', sans-serif;
}

.open-regular {
  font-family: 'open_sansregular', sans-serif;
}

.roboto {
  font-family: 'roboto_slabregular', sans-serif;
}



