.products__topTitle {
  font-family: 'montserratsemibold', serif;
  font-size: 30px;
  color: #a46455;
  height: 30px;
  margin: 35px 0 42px 0;
}

.products__topText {
  font-family: 'open_sanslight', serif;
  font-size: 19px;
  color: #000000;
  line-height: 26px;
  text-align: center;
  margin: 0 0 100px 0;
}

.products__cardMenu {
  width: 264px;
  height: 481px;
  border: 1px solid black;
}

.products__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.products__link {
  color: red;
}

.products__link--active {
  color: blue;
}



