
.nav {
  position: fixed;
  //top: calc(50vh - 124px);
  right: 0;
  bottom: 120px;
  left: 20px;
  background-color: rgba(10, 10, 10, 0);
  max-width: 300px;
  border-radius: 5px;
  z-index: 100;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  margin: 0;
  list-style: none;

}

.nav-list__item-link {
  display: block;
  padding: 7px 15px 7px 15px;
  //margin: 10px 0;
  color: #000;
  text-decoration: none;
  transition: 0.2s;
  flex-shrink: 1;
  font-family: 'montserratregular', serif;
  font-size: 18px;
  line-height: 24px;
  position: relative;
}

//.nav-list__item-link:after {
//  content: '';
//  width: 1px;
//  height: 17px;
//  background-color: black;
//  position: absolute;
//  left: -4.5px;
//  top: 28px;
//}

.nav-list__item-link:before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: -10px;
  top: 12px;
  transition: 0.15s;
}

//.nav-list__item-link:after:last-child {
//  height: 2px;
//}

.nav-list__item-link:hover {
  color: #946456;
  //background-color: #946456;
}

.nav-list__item-link--active {
  color: #a46455;
  //background-color: #a46455;
}


.nav-list__item-link:hover:before {
  background-color: #946456;
  //height: 17px;
  //top: 10px;
  transition: 0.15s;
}

.nav-list__item-link--active:before {
  background-color: #a46455;
  //height: 17px;
  //top: 10px;
  transition: 0.15s;
}

@media (min-width: 320px) and (max-width: 1400px) {
  .nav-list__item-link > span {
    display: none;
  }

  .nav-list__item-link:before {
    width: 15px;
    height: 15px;
  }

  .nav-list__item {
    margin-bottom: 12px;
  }
}