#services {
  background-color: #FAF7F9;
  background-image: url('../../assets/img/main_circle_right.png');
  background-repeat: no-repeat;
  background-position: right 550px;
  max-width: 1920px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 87px;
  width: 100%;
}

.servicesTitle {
  font-family: 'roboto_slabregular', serif;
  font-size: 30px;
  color: #000000;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.service {
  width: 540px;
  height: 560px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
  z-index: 5;
}

.wrap__service {
  position: relative;
}

.wrap__service:hover > .service {
  box-shadow: 0 0 21px 0 rgba(135, 138, 144, 0.34);
  z-index: 5;
}

.add__shadow {
  width: 308px;
  min-height: 308px;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
  left: 116px;
  top: 49px;
}


.wrap__service:hover > .add__shadow {
  box-shadow: 0 0 21px 2px rgba(135, 138, 144, 0.34);
}

.service__image {
  width: 308px;
  min-height: 308px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(241, 239, 241);
  box-shadow: 0.487px -3.97px 18px 0px rgba(124, 124, 124, 0.14);
  overflow: hidden;
  position: relative;
  top: -132px;
  z-index: 3;
}

.service__image > img {
  width: auto;
  height: 200px;
}


.service__info {
  position: relative;
  top: -127px;
  padding: 0 70px;
}

.service__title {
  text-align: center;
  font-family: 'roboto_slabregular', serif;
  font-size: 25px;
  color: #000000;
}

.service__text {
  font-family: 'open_sanslight', serif;
  font-size: 19px;
  line-height: 26px;
  color: #000000;
}

.service:hover .service__link {
  background-color: #885D51;
}

.service__link {
  text-decoration: none;
  text-align: center;
  width: 160px;
  line-height: 54px;
  background-color: #946456;
  color: white;
  border-radius: 25px;
  position: absolute;
  bottom: 42px;
}

.service__link:hover {
  background-color: #885D51;
}

.service__link:active {
  background-color: #80584C;
}