.strategy {
  width: 1005px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 70px;
}

.reverse {
  flex-direction: row-reverse;
}

.strategies {
  background-color: white;
  padding-bottom: 0;
  max-width: 1920px;
  background-image: url('../../assets/img/main_circle_right.png');
  background-repeat: no-repeat;
  background-position: right 380px;
  background-size: 120px;
}

.strategy__info {
  flex-grow: 1;
  padding-left: 100px;
}

.strategy__title {
  font-family: 'roboto_slabregular', serif;
  font-size: 30px;
  color: #000000;
  position: relative;
}

.strategy__title:before {
  content: '';
  position: absolute;
  left: -95px;
  top: 16px;
  width: 65px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #B36455;
}

.strategy__text {
  font-family: 'open_sansregular', serif;
  font-size: 19px;
  line-height: 26px;
  color: #000000;
}

// ----------- new


.strategyTitle {
  font-family: 'montserratsemibold', serif;
  font-size: 30px;
  line-height: 55px;
  color: #a46455;
  margin: 5px 0 10px 0;
}

.strategy__image {
  height: 100%;
}

.strategy__image > img {
  height: 100%;
  align-self: center;
}

.strategyTitle {
  font-family: 'montserratsemibold', serif;
  font-size: 30px;
  line-height: 55px;
  color: #a46455;
  margin: 5px 0 10px 0;
}

.strategy__image {
  height: 100%;
}

.strategy__image > img {
  height: 100%;
  align-self: center;
}

@media (min-width: 768px) and (max-width : 5000px) {
  .strategyTitle {
    margin: 15px 0;
  }

  .strategy {
    width: 85vw;
    padding: 0 15px;
    height: 24vh;
    align-items: stretch;
  }

  .strategy__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding-left: 15px;
  }

  .strategy__title, .strategy__text {
    margin: 0;
  }

  .strategy__image {

  }

  .strategy__title {
    padding-left: 80px;
  }

  .strategy__title:before {
    left: 0px;
    top: 23px;
  }

  .strategyTitle {
    font-size: 25px;
    line-height: 40px;
  }
}