$main-background: #F2F6FA;
//@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

.all-border {
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.tb {
  box-sizing: border-box;
}

html {
  height: 1000px;
}

body {
  height: 1000px;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: lightslategray;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

article {
  background-color: $main-background;
  width: 960px;
  height: 2360px;
  margin: 2px 0 5px 0;
  @extend .tb;
  @extend .all-border;
}