$main-background: #F2F6FA;

.all-border {
  border: 1px solid black;
}

html {
  height: 100%;
}
//
//button:focus {
//  outline: 1px solid #808592;
//}

* {
  outline-color: #808592;
  outline-width: 15px;
}


body {
  font-family: 'open_sansregular', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


* {
  box-sizing: border-box;
}