@media (min-width: 320px) and (max-width : 1080px) {
  .recomendations {
    flex-direction: column;
  }

  .recomendations > div:first-child {
    width: 100%;
  }

  .recomendations__img {
    overflow: hidden;
  }

  .recomendations__img > img {
    width: 100%;
    height: auto;
  }

  .recomendations__img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width : 1080px) {

  .about {
    width: 100%;
  }

  .recomendations > div:first-child {
    width: 100%;
  }

}

@media only screen and (min-width : 320px) and (max-width : 767px) {
  .about_title {
    width: 250px;
    margin-left: 0;
  }
}

@media (min-width: 840px) and (max-width : 1080px) {
  .recomendations {
    margin-top: 10px;
    flex-direction: row;
  }

  .recomendations > div:first-child {
    width: 50%;
    margin-right: 20px;
  }

  .recomendations__title {
    margin-top: 0;
  }

  .recomendations__img {
    width: 50%;
    height: 350px;
    overflow: hidden;
    ////background-size: cover;
    //background: url('../../assets/img/about.jpg') no-repeat left 0;
  }

  .recomendations__img > img {
    height: 100%;
    width: auto;
  }
}