@media (min-width: 320px) and (max-width : 1080px) {
  .location__info {
    padding-left: 0;
    align-items: flex-start;
  }

  .location__text {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .preload-container, .yandex__map {
    width: 100%;
    margin-top: 30px;
    height: 35vh;
  }

  .logo__adaptive {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 100;
  }

  .yandex__map {
    margin-top: 0
  }

  .location {
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width : 1080px) {
  .location__title {
    margin: 25px 0 12px 0;
  }

  .contacts {
    background-position: left 100px, right 400px;
    background-size: 0 0, 140px auto;
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .location {
    margin-bottom: 35px;
  }

  .location__text {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 17px;
  }

  .contacts__text {
    font-size: 17px;
    line-height: 25px;
  }

  .contacts {
    margin-bottom: 10px;
    background-position: left 100px, right 520px;
    background-size: 0 0, 100px auto;
  }

}