
@media (min-width: 1170px) {

}

@media (min-width: 993px) and (max-width : 1170px) {
  .header {
    padding: 0 12px;
  }

  .header__logo {
    margin-left: 10px;
    margin-right: 110px;
  }

  .header__phone {
    margin-right: 15px;
  }

  .header_menu {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
  }
}

@media (min-width: 992px) and (max-width : 1170px) {

}


@media only screen and (min-width : 931px) and (max-width : 1030px) {

}

@media only screen and (min-width : 931px) and (max-width : 970px) {

}

@media only screen and (min-width : 809px) and (max-width : 930px) {

}

@media (min-width: 861px) and (max-width : 992px) {
  .header__logo {
    margin-right: 60px;
  }

  .header__phone {
    margin-left: 25px;
    font-size: 18px;
  }

  .header__topMenuLink, .header__topMenuLink--active {
    font-size: 23px;
  }
}

@media only screen and (min-width : 768px) and (max-width : 860px) {
  .header {
    padding: 0 10px;
  }

  .header__logo {
    margin-right: 26px;
  }

  .header__logo > img {
    width: 120px;

  }

  .header__phone {
    margin-left: 15px;
    font-size: 17px;
  }

  .header__topMenuLink, .header__topMenuLink--active {
    font-size: 21px;
  }
}

@media only screen and (min-width : 668px) and (max-width : 767px) {

}

@media only screen and (min-width : 320px) and (max-width : 767px) {
  header {
    width: 100%;
    display: block;
    left: 0;
  }

  .header__logo {
    position: absolute;
    margin-right: 0;
    width: 154px;
    top: -25px;
  }

  .header_menu {
    margin-top: 60px;
  }

  .header__phone {
    margin-left: 15px;
    font-size: 22px;
  }

  .header__topMenuLink, .header__topMenuLink--active {
    font-size: 35px;
    margin: 20px 15px;
    padding: 20px 15px;
    transition: 0.7s;
  }

  .header__topMenuLink--active {
    color: #FFFFFF;
    background-color: #a46455;
    position: relative;
    border-radius: 5px 0 5px 0;
  }

  .header__topMenuLink--active:before {
    content: '';
    width: 40px;
    height: 5px;
    position: absolute;
    background-color: #a46455;
    left: -55px;
    top: 27px;
  }

  .header__topMenuLink--active:after {
    content: '';
    width: 40px;
    height: 5px;
    position: absolute;
    background-color: #a46455;
    top: 27px;
    right: -55px;
  }

  .header {
    display: none;
    align-items: center;
  }



  .header {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: calc(100vh - 50px);
    padding: 0;
    background-color: rgba(255,255,255,0.94);
    position: absolute;
    top: 50px;
    box-sizing: border-box;
  }

  header {
    background-color: rgba(255,255,255,0);
  }

  .menu--hide {
    display: none;
  }

  .menu--visible {
    display: flex;
  }


  .header_menu {
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 0;
  }

  .header--normal {
    height: 60px;
  }

  .burger {
    display: block;
    opacity: 1;
    width: 100%;
    //background-color: rgba(255, 255, 255, 0);
    z-index: 100;
    transition: 0.3s;
    height: 55px;
  }

  main {
    margin-top: 42px;
  }

  .burger__button, .burger__button--active {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    top: 36px;
    right: 23px;
    border: none;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0)
  }

  .burger__button {
    -webkit-tap-highlight-color: transparent;
  }

  .burger__button--active {
    -webkit-tap-highlight-color: transparent;
  }

  .burger__button > span {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: #a46455;
    transition: 0.3s;
  }

  .burger__button:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: #a46455;
    transition: 0.3s;
  }

  .burger__button:after {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: #a46455;
    transition: 0.3s;
  }

  .burger__button--active:before {
    content: '';
    position: absolute;
    top: 16px;
    transform: rotate(-45deg);
    left: 0;
    width: 50px;
    height: 5px;
    background-color: #965d4f;
    transition: 0.3s;
  }

  .burger__button--active:after {
    content: '';
    position: absolute;
    top: 16px;
    left: 0;
    width: 50px;
    transform: rotate(45deg);
    height: 5px;
    background-color: #965d4f;
    transition: 0.3s;
  }

  .about {
    width: 100%;
  }


  .about_title {
    width: 200px;
    margin-left: 0px;
  }


  .recomendations {
    flex-direction: column;
  }

  .recomendations > div:first-child {
    width: 100%;
  }

  .recomendations__img {
    display: none;
  }

  .network-e {
    display: none;
    width: 100vw;
    left: 0;
  }
}

@media only screen and (min-width : 561px) and (max-width : 667px) {

}

@media only screen and (min-width : 461px) and (max-width : 560px) {

}

@media only screen and (min-width : 461px) and (max-width : 767px) {
  .header__topMenuLink, .header__topMenuLink--active {
    font-size: 1.5rem;
    margin: 1.2rem 1.3rem;
    width: 40vw;
    text-align: center;
    padding: 10px 15px;
    transition: 0.7s;
  }

  .about__container {
    align-items: flex-start;
    padding: 0 15px;
  }
}

@media only screen and (min-width : 320px) and (max-width : 460px) {
  .header__topMenuLink, .header__topMenuLink--active {
    font-size: 1.35rem;
    margin: 1.1rem 1.1rem;
    width: 40vw;
    text-align: center;
    padding: 10px 15px;
    transition: 0.7s;
  }

  .about__container {
    align-items: flex-start;
    padding: 0 8px;
  }
}

@media only screen and (min-width : 120px) and (max-width : 319px) {

}