@media (min-width: 1001px) and (max-width : 1139px) {
  .products {
    background-position: right 1100px;
    background-size: 125px auto;
  }

  .products__topText {
    margin-bottom: 50px;
  }

  .products__menu {
    justify-content: space-around;
    margin-bottom: 50px;
  }

  .products__card {
    width: 230px;
    height: 425px;
  }

  .cards__image {
    margin: 30px 0 25px 0;
  }

  .topInfo__left {
    width: 55%;
    padding: 35px 10px 0 44px;
    flex-shrink: 0;
  }

  .topInfo__right {
    width: 42%;
    padding: 35px 25px 0 25px;
    flex-shrink: 0;
  }

  .topInfo__slider {
    width: 100%;
    height: 100%;
  }

  .prodSlider {
    height: 100%;
  }

  .prodSlider__elem {
    padding-top: 0;
    height: 315px;
  }

  .toolsPage__addTitle {
    margin-top: 50px;
    margin-bottom: 37px;
  }

  .is-wrapper-open > .collapse__header {
    padding-left: 25px;
  }

  .is-wrapper-open > .collapse_body {
    height: 1060px;
    padding: 25px;
  }

  .collapse__descriptions {
    width: 450px;
  }

  .tools {
    margin-bottom: 5px;
  }
}

@media (min-width: 850px) and (max-width : 1000px) {
  .products__card {
    width: 200px;
    height: 365px;
  }

  .products__menu {
    margin-bottom: 40px;
  }

  .cards__image {
    margin: 20px 0 15px 0;
  }

  .cards__title {
    font-size: 23px;
  }

  .cards__link {
    bottom: 20px;
  }

  .topInfo__left {
    width: 55%;
    padding: 35px 10px 0 44px;
    flex-shrink: 0;
  }

  .topInfo__right {
    width: 42%;
    padding: 35px 25px 0 25px;
    flex-shrink: 0;
  }

  .topInfo__slider {
    width: 100%;
    height: 100%;
  }

  .prodSlider {
    height: 100%;
  }

  .prodSlider__elem {
    padding-top: 0;
    height: 315px;
  }

  .toolsPage__addTitle {
    margin-top: 40px;
    margin-bottom: 27px;
  }
}