
@media (min-width: 1170px) {

}

@media (min-width: 992px) and (max-width : 1170px) {

}


@media only screen and (min-width : 931px) and (max-width : 1030px) {

}

@media only screen and (min-width : 931px) and (max-width : 970px) {

}

@media only screen and (min-width : 809px) and (max-width : 930px) {

}

@media (min-width: 768px) and (max-width : 992px) {

}

@media only screen and (min-width : 768px) and (max-width : 880px) {

}

@media only screen and (min-width : 668px) and (max-width : 767px) {

}

@media only screen and (min-width : 320px) and (max-width : 767px) {
  .location {
    flex-direction: column-reverse;
    width: 100%;
    margin-bottom: 35px;
  }

  .preload-container {
    width: 100%;
    margin-top: 10px;
    height: 35vh;
  }

  .location__info {
    padding-left: 0;
  }

  .location__text {
    margin: 12px 0;
  }

}

@media only screen and (min-width : 461px) and (max-width : 767px) {
  .partners__container {
    align-items: flex-start;
    padding: 0 15px;
  }

  .yandex__map {
    width: calc(100vw - 30px);
    height: 35vh;
  }
}

@media only screen and (min-width : 320px) and (max-width : 460px) {
  .container {
    padding: 0 8px;
  }

  .partners__container {
    align-items: flex-start;
    padding: 0 8px;
  }

  .partners_title {
    margin-top: 36px;
  }

  .yandex__map {
    width: calc(100vw - 16px);
    height: 35vh;
  }
}
