%v-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  height: 100%;
}

.main {
  @extend %v-flex;
  min-height: 100vh;
  background-color: ghostwhite;
}

main {
  width: 100%;
  //min-height: calc(100vh - 59px);
  margin-bottom: auto;
}
