%v-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1170px;
}

.slider {
  width: 100%;
  text-align: center;
  border: 2px solid green;
  font-family: 'open_sansregular', sans-serif;
}

.main {
  @extend %v-flex;
  min-height: 100vh;
}

main {
  width: 100%;
  //min-height: calc(100vh - 59px);
  margin-bottom: auto;
  background-color: ghostwhite;
}