%flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.active-link {
  background-color: coral;
  color: black;
}

.main {
  @extend %flex;
  max-height: 10000vh;
  background-color: lightgray;
}

.app {
  @extend %flex;
  width: 1440px;
  max-height: 10000vh;
  min-height: 99vh;
  background-color: #EBEEF3;

  .container {
    @extend %flex;
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 1;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .app {
    width: calc(100% - 200px);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .app {
    width: calc(100vw - 140px);
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .app {
    width: calc(100vw - 60px);
  }
}

@media (min-width: 480px) and (max-width: 676px) {
  .main {
    width: 100vw;
  }
}

.aaa {
  border: 5px solid black;
}

.container {
  margin: 0;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
}