.toolsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.toolsPage__mainTitle {
  font-family: 'roboto_slabregular', Arial, serif;
  font-size: 30px;
  color: #000000;
  margin: 0 0 40px 0;
}

.toolsPage__addTitle {
  margin-top: 90px;
  margin-bottom: 67px;
}

.toolsPage__topInfo {
  background-color: rgb(243,245,248);
  border-radius: 4px;
  height: 350px;
  display: flex;
  width: 100%;
}

.topInfo__left {
  width: 685px;
  padding: 45px 10px 0 64px;
  flex-shrink: 0;
}

.topInfo__text {
  font-family: 'open_sanslight', Arial, serif;
  font-size: 19px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding-right: 20px;
}


.topInfo__downloadButton {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 216px;
  height: 49px;
  background-color: #FFFFFF;
  padding-left: 25px;
  font-family: 'open_sanslight', Arial, serif;
  font-size: 16px;
  color: #000000;
  border: none;
  border-radius: 6px;
  box-shadow: 0 1px 8px 0 rgba(184, 184, 184, 0.67);
  cursor: pointer;
  margin-top: 45px;
  text-decoration: none;
}

.topInfo__downloadButton:hover {
  color: #965d4f;
}

.topInfo__downloadButton:after {
  content: '';
  background-image: url('../../../assets/img/download_icon.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 70px;
  height: 49px;
  border-radius: 6px;
  background-color: rgb(243,245,248);
  right: 0;
}

.topInfo__right {
  width: 100%;
  background-color: rgb(127,134,148);
}

.toolsPage__tools {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.tools__collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.collapse__header {
  font-family: 'roboto_slabregular', Arial, serif;
  font-size: 25px;
  color: #000000;
  background-color: #f3f5f8;
  padding-left: 66px;
  line-height: 69px;
  cursor: pointer;
  margin: 0;
  text-align: left;
  transition: 0.42s;
  border: 1px solid rgb(169, 181, 209);
}

.is-wrapper-open > .collapse__header {
  background-color: #7F8694;
  color: #FFFFFF;
}

.tools__collapse > .collapse_body {
  height: 0;
  transition: 0.5s;
  overflow: hidden;
}

.is-wrapper-open > .collapse_body {
  height: 1060px;
  padding: 33px 66px 55px;
}

.collapse_body {
  display: flex;
  flex-direction: column;
  padding: 0 67px;
  border-left: 1px solid rgb(169, 181, 209);
  border-right: 1px solid rgb(169, 181, 209);
}

.collapse_body:last-child {
  border-bottom: 1px solid rgb(169, 181, 209);
}

.collapse__title {
  font-family: 'open_sansregular', Arial, serif;
  font-size: 19px;
  color: #000000;
  margin: 0 0 30px 0;
}

.collapse__img {
  height: 352px;
  width: 562px;
  margin: auto;
}

.collapse__text {
  font-family: 'open_sanslight', Arial, serif;
  font-size: 19px;
  color: #000000;
  line-height: 26px;
  margin: 0;
}

.collapse__info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 69px;
}

.collapse__descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 485px;
  padding: 35px 37px 48px 37px;
  border: 1px solid rgb(216, 218, 223);
  border-radius: 10px;

}

.collapse__desTitle {
  font-family: 'open_sansregular', Arial, serif;
  font-size: 19px;
  color: #000000;
  line-height: 26px;
  margin: 0 0 30px 0;
  text-align: center;
}

.collapse__textMark {
  font-family: 'open_sanslight', Arial, serif;
  font-size: 19px;
  color: #000000;
  margin: 0;
  text-align: center;
  min-width: 409px;
  position: relative;
}

.collapse__textMark:before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: -10px;
  top: 5px;
  width: 15px;
  height: 9px;
  border: 1px solid rgb(202, 178, 171);
  background-color: rgb(148, 100, 86);
}

