header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.955);
  z-index: 100;
  transition: 0.3s;
}

.header--normal {
  height: 90px;
}

.header--less {
  height: 65px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  max-width: 1170px;
  padding: 0 15px;
  height: 100%;
}

.header__logo {
  margin-right: 135px;
}

.logo__adaptive {
  display: none;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.header__topMenuLink, .header__topMenuLink--active {
  font-size: 25px;
  font-family: 'open_sansregular', serif;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
  transition: 0.25s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.header__topMenuLink:hover {
  color: #a46455;
  border-bottom: 1px solid #a46455;
}

.header__topMenuLink--active {
  color: #a46455;
  border-bottom: 1px solid #a46455;
}

.header__phone {
  padding-top: 2px;
  color: #a46455;
  transition: 0.1s;
  text-decoration: none;
  font-size: 19px;
  font-family: 'open_sansregular', serif;
  line-height: 36px;
  margin-left: 50px;
}

.header__phone:hover {
  color: #965d4f;
  font-weight: 600;
}

@media only screen and (min-width : 768px) and (max-width : 5000px) {
  .burger {
    display: none;
  }
}