header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 100;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  max-width: 1170px;
  padding: 0 15px;
  height: 100%;
}

.header__logo {
  margin-right: 135px;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.header__topMenuLink, .header__topMenuLink--active {
  font-size: 25px;
  font-family: 'open_sansregular', serif;
  line-height: 88px;
  color: #000000;
  text-decoration: none;
  transition: 0.25s;
}

.header__topMenuLink:hover {
  color: #a46455;
}

.header__topMenuLink--active {
  color: #a46455;
}

.header__phone {
  color: #a46455;
  transition: 0.3s;
  text-decoration: none;
  font-size: 25px;
  font-family: 'open_sansregular', serif;
  line-height: 88px;
  margin-left: 50px;
}

.header__phone:hover {
  color: #965d4f;
}